@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");
/* line 18, ../scss/styles.scss */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

/* line 26, ../scss/styles.scss */
h1, h2, h3, h4, h5, p, span, button, a, input, input::placeholder {
  font-family: 'Open Sans', sans-serif !important;
}

/* line 30, ../scss/styles.scss */
.content {
  min-height: 100%;
  margin-bottom: -50px;
}

/* line 35, ../scss/styles.scss */
nav {
  width: 100%;
  background-color: #f6b725;
  height: 70px;
}
/* line 40, ../scss/styles.scss */
nav .white-overlay {
  float: left;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-align-items: center;
  align-items: center;
  background-color: white;
  width: 35%;
  height: 100%;
}
/* line 48, ../scss/styles.scss */
nav .white-overlay img {
  margin-right: 10px;
}
/* line 52, ../scss/styles.scss */
nav .menu {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 992px) {
  /* line 52, ../scss/styles.scss */
  nav .menu {
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}
@keyframes menu-anim {
  0% {
    transform: translateX(300px);
  }
  100% {
    transform: translateX(0px);
  }
}
/* line 70, ../scss/styles.scss */
nav .menu .links-animate {
  animation: menu-anim 0.5s;
  animation-fill-mode: forwards;
}
/* line 75, ../scss/styles.scss */
nav .menu .links {
  list-style-type: none;
}
@media (max-width: 992px) {
  /* line 75, ../scss/styles.scss */
  nav .menu .links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #f6b725;
    margin-top: 0;
    -moz-transform: translateX(-2000%);
    -ms-transform: translateX(-2000%);
    -webkit-transform: translateX(-2000%);
    transform: translateX(-2000%);
    z-index: 5;
  }
}
/* line 86, ../scss/styles.scss */
nav .menu .links li {
  margin: 5px;
}
@media (min-width: 992px) {
  /* line 86, ../scss/styles.scss */
  nav .menu .links li {
    display: inline;
  }
}
@media (max-width: 992px) {
  /* line 86, ../scss/styles.scss */
  nav .menu .links li {
    margin: 15px;
  }
}
/* line 95, ../scss/styles.scss */
nav .menu .links li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
}
/* line 101, ../scss/styles.scss */
nav .menu .links li .active {
  border-bottom: 2px solid black;
}
/* line 104, ../scss/styles.scss */
nav .menu .links li .active:hover {
  color: black !important;
}
/* line 107, ../scss/styles.scss */
nav .menu .links li a:hover {
  color: #fff;
}
/* line 113, ../scss/styles.scss */
nav .menu .icons {
  list-style-type: none;
}
/* line 115, ../scss/styles.scss */
nav .menu .icons li {
  cursor: pointer;
  float: left;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 5px;
  text-align: center;
}
/* line 123, ../scss/styles.scss */
nav .menu .icons li img {
  width: 15px;
  height: auto;
  margin-top: 7.5px;
}
/* line 129, ../scss/styles.scss */
nav .menu .icons li .hamburger {
  width: 22px;
  height: 5px;
  background-color: black;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-top: 4px;
  margin-left: 4px;
}
/* line 138, ../scss/styles.scss */
nav .menu .icons li:nth-child(2) {
  margin-right: 15px;
}
@media (max-width: 992px) {
  /* line 138, ../scss/styles.scss */
  nav .menu .icons li:nth-child(2) {
    margin-right: 5px;
  }
}
/* line 144, ../scss/styles.scss */
nav .menu .icons li:nth-child(3) {
  display: none;
}
@media (max-width: 992px) {
  /* line 144, ../scss/styles.scss */
  nav .menu .icons li:nth-child(3) {
    display: initial;
  }
}

/* line 154, ../scss/styles.scss */
header {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzMDA1NyIgc3RvcC1vcGFjaXR5PSIwLjUiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzAwNTciIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g'), url(./../images/top.jpg);
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(35, 0, 87, 0.5)), color-stop(100%, rgba(35, 0, 87, 0.5))), url(./../images/top.jpg);
  background-image: -moz-linear-gradient(rgba(35, 0, 87, 0.5), rgba(35, 0, 87, 0.5)), url(./../images/top.jpg);
  background-image: -webkit-linear-gradient(rgba(35, 0, 87, 0.5), rgba(35, 0, 87, 0.5)), url(./../images/top.jpg);
  background-image: linear-gradient(rgba(35, 0, 87, 0.5), rgba(35, 0, 87, 0.5)), url(./../images/top.jpg);
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  width: 100%;
}
@media (max-width: 576px) {
  /* line 154, ../scss/styles.scss */
  header {
    height: 200px;
  }
}
@media (min-width: 576px) {
  /* line 154, ../scss/styles.scss */
  header {
    height: 300px;
  }
}
@media (min-width: 768px) {
  /* line 154, ../scss/styles.scss */
  header {
    height: 454px;
  }
}
@media (min-width: 992px) {
  /* line 154, ../scss/styles.scss */
  header {
    height: 646px;
  }
}
/* line 173, ../scss/styles.scss */
header .container {
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #fff;
}
/* line 180, ../scss/styles.scss */
header .container h1 {
  text-align: center;
  font-weight: 300;
  font-size: 3em;
  margin: 0;
}
@media (max-width: 768px) {
  /* line 180, ../scss/styles.scss */
  header .container h1 {
    font-size: 2em;
  }
}
@media (max-width: 576px) {
  /* line 180, ../scss/styles.scss */
  header .container h1 {
    font-size: 1.5em;
  }
}
/* line 193, ../scss/styles.scss */
header .container h2 {
  font-weight: normal;
  font-size: 2.5em;
  margin: 0;
  color: #f6b725;
}
@media (max-width: 768px) {
  /* line 193, ../scss/styles.scss */
  header .container h2 {
    font-size: 1.5em;
  }
}
@media (max-width: 576px) {
  /* line 193, ../scss/styles.scss */
  header .container h2 {
    font-size: 1em;
  }
}
/* line 205, ../scss/styles.scss */
header .container .buttons {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-top: 1em;
  width: 90%;
}
@media (min-width: 768px) {
  /* line 205, ../scss/styles.scss */
  header .container .buttons {
    margin-top: 2em;
  }
}
@media (max-width: 768px) {
  /* line 205, ../scss/styles.scss */
  header .container .buttons {
    width: 80%;
  }
}
@media (max-width: 576px) {
  /* line 205, ../scss/styles.scss */
  header .container .buttons {
    width: 100%;
  }
}
@media (min-width: 992px) {
  /* line 205, ../scss/styles.scss */
  header .container .buttons {
    width: 35%;
  }
}
@media (min-width: 1350px) {
  /* line 205, ../scss/styles.scss */
  header .container .buttons {
    width: 25%;
  }
}
/* line 228, ../scss/styles.scss */
header .container .buttons button {
  width: 100%;
  margin: 15px;
}
@media (max-width: 768px) {
  /* line 228, ../scss/styles.scss */
  header .container .buttons button {
    margin-top: 5px;
  }
}
/* line 236, ../scss/styles.scss */
header .container .buttons .yellow {
  cursor: pointer;
  font-weight: bold;
  background-color: #f6b725;
  border: 0;
  padding: 15px;
  border-radius: 25px;
  -moz-transition: background 0.5s, border-radius 0.5s;
  -o-transition: background 0.5s, border-radius 0.5s;
  -webkit-transition: background 0.5s, border-radius 0.5s;
  transition: background 0.5s, border-radius 0.5s;
}
@media (max-width: 576px) {
  /* line 236, ../scss/styles.scss */
  header .container .buttons .yellow {
    padding: 10px;
  }
}
/* line 249, ../scss/styles.scss */
header .container .buttons .yellow:hover {
  background-color: #fff;
  border-radius: 0;
}
/* line 253, ../scss/styles.scss */
header .container .buttons .yellow:focus {
  outline: none;
}
/* line 257, ../scss/styles.scss */
header .container .buttons .yellow-outline {
  cursor: pointer;
  padding-left: 15px;
  padding-right: 15px;
  color: #f6b725;
  font-weight: bold;
  border: 3px solid #f6b725;
  border-radius: 25px;
  background-color: transparent;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
/* line 269, ../scss/styles.scss */
header .container .buttons .yellow-outline:hover {
  background-color: #f6b725;
  border-radius: 0;
  color: black;
}

/* line 290, ../scss/styles.scss */
section .square {
  width: 70px;
  height: 70px;
  background-color: #fff;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  margin-top: -35px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 768px) {
  /* line 290, ../scss/styles.scss */
  section .square {
    width: 50px;
    height: 50px;
    margin-top: -25px;
  }
}
@media (max-width: 576px) {
  /* line 290, ../scss/styles.scss */
  section .square {
    width: 30px;
    height: 30px;
    margin-top: -15px;
  }
}
/* line 315, ../scss/styles.scss */
section .square .arrow {
  width: 16px;
  height: 16px;
  margin-left: 16px;
  margin-bottom: 16px;
  border-bottom: 5px solid black;
  border-left: 5px solid black;
}
@media (max-width: 768px) {
  /* line 315, ../scss/styles.scss */
  section .square .arrow {
    width: 12px;
    height: 12px;
    margin-left: 12px;
    margin-bottom: 12px;
  }
}
@media (max-width: 576px) {
  /* line 315, ../scss/styles.scss */
  section .square .arrow {
    width: 6px;
    height: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    border-bottom: 3px solid black;
    border-left: 3px solid black;
  }
}
/* line 339, ../scss/styles.scss */
section .container {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
@media (min-width: 992px) {
  /* line 339, ../scss/styles.scss */
  section .container {
    margin-top: 2em;
    width: 1024px;
  }
}
@media (min-width: 576px) {
  /* line 339, ../scss/styles.scss */
  section .container {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
/* line 354, ../scss/styles.scss */
section .container .info {
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 10px;
}
/* line 358, ../scss/styles.scss */
section .container .info h1 {
  font-weight: bold;
  color: #f6b725;
  font-size: 2.4em;
  margin: 0;
}
@media (max-width: 768px) {
  /* line 358, ../scss/styles.scss */
  section .container .info h1 {
    text-align: center;
  }
}
/* line 367, ../scss/styles.scss */
section .container .info h2 {
  font-weight: 300;
  margin: 0;
}
@media (max-width: 768px) {
  /* line 367, ../scss/styles.scss */
  section .container .info h2 {
    text-align: center;
  }
}
/* line 374, ../scss/styles.scss */
section .container .info p {
  font-weight: 300;
  font-size: small;
  color: #888888;
}
@media (max-width: 768px) {
  /* line 374, ../scss/styles.scss */
  section .container .info p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  /* line 384, ../scss/styles.scss */
  section .container .info .arrow-box {
    left: calc(50% - 37.5px);
  }
}
/* line 391, ../scss/styles.scss */
section .container .form {
  -webkit-flex-basis: 0;
  flex-basis: 0;
  -webkit-flex-grow: 3;
  flex-grow: 3;
  align-self: center;
  margin-left: 10px;
}
@media (min-width: 992px) {
  /* line 391, ../scss/styles.scss */
  section .container .form {
    margin-left: 100px;
  }
}
/* line 401, ../scss/styles.scss */
section .container .form form input {
  background-color: #1d1d33;
  border: none;
  padding: 7.5px;
  color: white;
  font-size: smaller;
  margin: 5px;
  width: calc(100% - 35px);
}
@media (min-width: 768px) {
  /* line 401, ../scss/styles.scss */
  section .container .form form input {
    width: 40%;
  }
}
@media (min-width: 992px) {
  /* line 401, ../scss/styles.scss */
  section .container .form form input {
    width: 45%;
  }
}
/* line 416, ../scss/styles.scss */
section .container .form form input::placeholder {
  color: #fff;
  font-size: smaller;
}
/* line 420, ../scss/styles.scss */
section .container .form form button {
  margin: 5px;
  display: block;
  background-color: #f6b725;
  border: none;
  color: black;
  padding: 10px;
  width: 120px;
  font-weight: bold;
}

/* line 436, ../scss/styles.scss */
.arrow-box {
  width: 75px;
  height: 75px;
  position: relative;
}
/* line 440, ../scss/styles.scss */
.arrow-box .arrow-square {
  width: 75px;
  height: 75px;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
/* line 446, ../scss/styles.scss */
.arrow-box .arrow-square .diagonal {
  width: 75px;
  height: 5px;
  background-color: #f6b725;
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
}
/* line 452, ../scss/styles.scss */
.arrow-box .arrow-square .diagonal .cut-left {
  width: 15px;
  height: 10px;
  margin-left: -7.5px;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #fff;
}
/* line 459, ../scss/styles.scss */
.arrow-box .arrow-square .diagonal .cut-right {
  width: 15px;
  height: 10px;
  margin-top: -15px;
  margin-right: -10px;
  background-color: #fff;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  float: right;
}
/* line 470, ../scss/styles.scss */
.arrow-box .arrows {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 75px;
  height: 75px;
}
/* line 477, ../scss/styles.scss */
.arrow-box .arrows .up {
  width: 15px;
  height: 15px;
  position: relative;
  left: -10px;
  -moz-animation: MoveUpDownArrowUp 1s linear infinite;
  -webkit-animation: MoveUpDownArrowUp 1s linear infinite;
  animation: MoveUpDownArrowUp 1s linear infinite;
}
/* line 483, ../scss/styles.scss */
.arrow-box .arrows .up .arrow-head {
  width: 15px;
  height: 15px;
  border-top: 5px solid #f6b725;
  border-left: 5px solid #f6b725;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 490, ../scss/styles.scss */
.arrow-box .arrows .up .arrow-stem {
  width: 5px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 7.5px;
  background-color: #f6b725;
  border-radius: 2px;
}
/* line 501, ../scss/styles.scss */
.arrow-box .arrows .down {
  width: 15px;
  height: 15px;
  position: relative;
  top: 7px;
  left: 17.5px;
  -moz-animation: MoveUpDownArrowDown 1s linear infinite;
  -webkit-animation: MoveUpDownArrowDown 1s linear infinite;
  animation: MoveUpDownArrowDown 1s linear infinite;
}
/* line 508, ../scss/styles.scss */
.arrow-box .arrows .down .arrow-head {
  width: 15px;
  height: 15px;
  border-bottom: 5px solid #f6b725;
  border-right: 5px solid #f6b725;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
/* line 515, ../scss/styles.scss */
.arrow-box .arrows .down .arrow-stem {
  width: 5px;
  height: 22px;
  position: absolute;
  top: 0;
  left: 7.5px;
  background-color: #f6b725;
  border-radius: 2px;
}

@keyframes MoveUpDownArrowUp {
  0%, 100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes MoveUpDownArrowDown {
  0%, 100% {
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  50% {
    -moz-transform: translateY(5px);
    -ms-transform: translateY(5px);
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }
}
/* line 548, ../scss/styles.scss */
.push {
  height: 50px;
}

/* line 552, ../scss/styles.scss */
footer {
  width: 100%;
  height: 50px;
  background-color: #f6b725;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  font-size: small;
}
